*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
.container{

height: 100vh;
width: 100vw;
}

.container-left{

display: inline-block;
width: 50%;
height: 100vh;
position:relative;
;
}

.container-right{
width: 50%;
height: 100vh;
display: inline-block;
position: absolute;

padding-top: 25%;
}

h1{
   color:#161A49 ;
    font-weight: 700;
    font-size: 80px;
    line-height: 82px;
    letter-spacing: 0.6px;
    
}

p{

color:#4B505A ;
width: 373px;
height: 99px;
font-weight: 400;
margin: 40px 60px 0 0;
line-height: 25px;
}

.button-right{
    
   
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1px;
    
    color:#6FBF44 ;
    background: transparent;
    border: none;
    cursor: pointer;
    

}

img{

position: relative;
width: 595px;
height: 500px;
margin-top: 142px;
left:40px;
}


a{
margin-right: 20px;
cursor: pointer;

}
header{
margin: 5% ;
}



a:nth-child(5){
    background-color: #76be4f;
    font-size: 17px;
    padding: 1% 22px 1% 22px;
    border-radius: 6px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#button-header:hover{
opacity: .8;
}

#button-header:active{
    opacity: .4;
    }

    a:hover{
    
    opacity: .4;}

    a:active{
        opacity: .9;
    color: rgb(14, 14, 232);}
    
      #button-header:visited{
        color: rgb(9, 218, 134);}  

        @media screen and (max-width: 900px) {
            .container-left{
            width: 100%;
            height: 50%;
            }

            .container-right{
            width: 50%;
            height: auto;
            display: block;
            position: static;
            }
        }